@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

:root
{   
    --c1: #e867ea;
    --c2: #4c4369;
    --c3: #283242;
    --c4: #060a10;
    --c5: #4ea3ba;
    --c6: #48f2fb;
    --c7: #fffafa;
}

body
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* background: var(--c4); */
    overflow-y: scroll;
}

body::-webkit-scrollbar
{
    width: 5px;
}

body::-webkit-scrollbar-thumb 
{
    background: linear-gradient(to bottom, var(--c1), var(--c6));
    border-radius: 100rem;
}

body::-webkit-scrollbar-track 
{
    background: var(--c4);
}

.scroll-to-top
{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 40px;
    height: 40px;
    background: var(--c6);
    z-index: 100;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid var(--c6);
    transition: .3s;
    box-shadow: 0 0 5px var(--c6);
}

.scroll-to-top:hover
{
    background: var(--c4);
    box-shadow: none;
}
.scroll-to-top:hover i
{
    color: var(--c6);
}

.scroll-to-top i
{
    font-size: 20px;
    color: var(--c4);
    font-weight: 600;
}

.bars-animation
{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 10vh;
}

.bars-animation .bar
{
    width: 100%;
    height: 100%;
    background-color: var(--c4);
    /* border: 2px solid red; */
    transform: translateY(-100%);
    animation: show-bar calc(var(--i)*.2s) ease-in-out forwards;
}




.header
{
    display: flex;
    width: 100%;
    height: 10vh;
    position: sticky;
    top: 0;
    background: var(--c4);
    z-index: 1000;
}

/* ////////////////////Left-Header/////////////////////////// */

.header .header-left
{
    height: 100%;
    width: 20%;
    /* background: var(--c1); */
}

.header .header-left .logo-container
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background: var(--c3); */
    padding: 0rem 15%;
}

.header .header-left .logo-container h2
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 25px;
    color: var(--c6);
    /* background-color: #4ea3ba; */
    transition: .3s;
    visibility: hidden;
    opacity: 0;
    animation: show 1.5s linear forwards;
}

.header .header-left .logo-container h2:hover
{
    color: var(--c6);
    text-shadow: 0 0 5px var(--c6);
}


/* ////////////////////Right-Header/////////////////////////// */
.header .header-right
{
    height: 100%;
    width: 80%;
    /* background: var(--c6); */
}


.header .header-right .nav-bar
{
    width: 100%;
    height: 100%;
    /* background: var(--c3); */
}

.header .header-right .nav-bar ul
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background: var(--c2); */
    padding: 1rem 5% 1rem;
}

.header .header-right .nav-bar ul li
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
    height: 100%;
}

.header .header-right .nav-bar ul li a
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--c7);
    font-weight: bold;
    padding: 0.5rem 1rem;
    transition: 0.3s ease;
    visibility: hidden;
    opacity: 0;
    animation: show 1.5s linear forwards;

    
}

.header .header-right .nav-bar ul li a:hover,
.header .header-right .nav-bar ul li a.active
{
    color: var(--c1);
    /* text-shadow: 0 0 5px var(--c1); */
}


/* ////////////////////Section/////////////////////////////////// */
.section
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    /* background: var(--c4); */
    padding: 1rem;
    transition: .3s;
   
}



#home
{
    color: var(--c7);
    background: transparent;   
}

#home .home-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    /* background-color: yellow; */
}


/* /////////////////////////Home left///////////////////////////// */

#home .home-container #home-left
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: var(--c4); */
    height: 100%;
    width: 65%;
    flex-direction: column;
    padding: 60px 9% 0;
}

#home .home-container #home-left .content-container h1
{
    font-size: 55px;
} 
#home .home-container #home-left .content-container .small
{
    display: flex;
    margin-top: -10px;
}
#home .home-container #home-left .content-container .small h2
{
    font-size: 32px;
} 

#home .home-container #home-left .content-container .small .two
{
    color: var(--c1)
}

.typed-cursor
{
    font-size: 30px;
    color: var(--c6);
    font-weight: 550;
}

#home .home-container #home-left .content-container p
{
    font-size: 16px;
    margin: 10px 0 25px;
}

#home .home-container #home-left .content-container .btn-sci
{
    display: flex;
    align-items: center;
}

.btn
{
    display: inline-block;
    padding: 10px 30px;
    background-color: var(--c1);
    border: 2px solid var(--c1);
    border-radius: 40px;
    box-shadow: 0 0 10px var(--c1);
    font-size: 16px;
    color: var(--c4);
    font-weight: 600;
    transition: .5s;
}

.btn:hover
{
    background-color: transparent;
    color: var(--c1);
    box-shadow: none;
}

#home .home-container #home-left .content-container .btn-sci .sci
{
    margin-left: 20px;
}


#home .home-container #home-left .content-container .btn-sci .sci a
{
    display: inline-flex;
    padding: 8px;
    border-radius: 50%;
    border: 2px solid var(--c1);
    font-size: 20px;
    color: var(--c1);
    margin: 0 8px;
    transition: .5s;
   
}

#home .home-container #home-left .content-container .btn-sci .sci a:hover
{
    background-color: var(--c1);
    color: var(--c4);
    box-shadow: 0 0 10px var(--c1);
}


/* /////////////////////////Home right///////////////////////////// */
#home .home-container #home-right
{
    display:flex;
    justify-content: center;
    align-items: center;
    /* background: var(--c4); */
    height: 100%;
    width: 35%;
    position: relative;
}

#home .home-container #home-right .img-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    /* background-color: var(--c4); */
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

#home .home-container #home-right .img-container::before,
#home .home-container #home-right .img-container::after
{
    content: '';
    position: absolute;
    width: 350px;
    height: 350px;
    background: conic-gradient(transparent, transparent, transparent, var(--c6));
    transform: rotate(0deg);
    animation: turn 10s linear infinite;
}

#home .home-container #home-right .img-container::after
{
    background: conic-gradient(transparent, transparent, transparent, var(--c1));
    animation-delay: -5s;
}

#home .home-container #home-right .img-container .img-item
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--c4);
    z-index: 1;
}

#home .home-container #home-right .img-container .img-item img
{
    position: absolute;
    display: block;
    width: 97%;
    height: 97%;
    border-radius: 50%;
    object-fit: cover;
    color: transparent;
    mix-blend-mode: lighten;
}


/* ////////////////////////////About///////////////////////////////// */
#about
{
    flex-direction: column;
    background: var(--c4);
    position: relative;

}
#about *
{
    transition: .2s;
    opacity: 0;
}

#about.show-animate *
{
    opacity: 1;
}


#about.show-animate .ball
{
    transform: translateX(0%);
}

.ball
{
    background-color: #4ea2ba2c;

    position: absolute;
    border-radius: 50%;
    /* border: 1px solid var(--c1); */
    backdrop-filter: blur(10px);
    box-shadow: 
    0 0 10px var(--c5) inset,
    0 0 20px var(--c5) inset,
    0 0 20px var(--c5) inset,
    0 0 30px var(--c7) inset;
    z-index: 0;
}

.ball.one
{
    left: 5%;
    bottom: 10%;
    width: 300px;
    height: 300px;
}

.ball.two
{
    width: 350px;
    height: 350px;
    right: 5%;
    bottom: 20%;
}

.ball.three
{
    width: 200px;
    height: 200px;
    top: 10%;
    left: 28%;
}






#about h2
{
    font-size: 55px;
    color: var(--c6);
    z-index: 3;
}

#about p
{
    text-align: center;
    width: 100%;
    color: var(--c7);
    margin-top: 1.5rem;
    font-size: 17px;
    line-height: 1.5;
    padding: 0 5%;
    z-index: 3;
}

#about a
{
    padding: 0.5rem 1rem;
    background-color: var(--c6);
    color: var(--c4);
    margin-top: 1.5rem;
    border: 2px solid var(--c6);
    border-radius: 40px;
    font-weight: 600;
    box-shadow: 0 0 5px var(--c6);
    transition: .3s;
    z-index: 3;
}

#about a:hover
{
    background-color: transparent;
    color: var(--c6);
    box-shadow: none;
}

/* //////////////////////////////////Tabs/////////////////////////////////// */
#tabs
{
    flex-direction: column;
    background: var(--c4);
   
}

#tabs *
{
    transition: .2s;
    opacity: 0;
}

#tabs.show-animate *
{
    opacity: 1;
}





#tabs h2
{
    font-size: 55px;
    color: var(--c6);
}

#tabs .tab-container
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;
    /* background-color: #fffafa; */
}

#tabs .tab-container a
{
    padding: 0.5rem 1rem;
    color: var(--c7);
    font-size: 20px;
    font-weight: 600;
    /* border: 2px solid var(--c6); */
    /* border-radius: 10px; */
    transition: .3s;
}

#tabs .tab-container a:hover
{
    color: var(--c6);
    text-shadow: 0 0 2px var(--c6);
}

/* //////////////////////////////////Results/////////////////////////////////// */
#result
{
    flex-direction: column;
    background: var(--c4);
}


#result h2
{
    font-size: 55px;
    color: var(--c6);
    margin-top: 1rem;
}

#result .container
{
    display: grid;
    grid-template-rows: repeat(5, 100px);
    grid-template-columns: repeat(6, 100px);
    /* border: 1px solid black; */
    gap: 1rem; 
    column-gap: 2rem;   
    grid-template-areas: 
    "box1 box1 box1 box4 box4 box4"
    "box1 box1 box1 box4 box4 box4"
    "box2 box2 box2 box4 box4 box4"
    "box2 box2 box2 box3 box3 box3"
    "box2 box2 box2 box3 box3 box3"
    ;
    margin-bottom: 2rem;
}

#result .box
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--c6);
    border-radius: 10px;
    transition: .3s;
    overflow: hidden;
    position: relative;
}

#result .box:active
{
    box-shadow: 0 0 10px var(--c1);
    border: 2px solid var(--c1);

    
}

#result .box1
{
    grid-area: box1;
    
    
}

#result .box h3
{
    color: var(--c6);
    font-size: 20px;
}

#result .box .cover
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--c4);
    transform: translateY(100%);
    transition: .3s;
    user-select: none;
}

#result .box:active .cover
{
    transform: translateY(0);
}

#result .box .cover ul
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#result .box .cover ul li
{
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: var(--c7);
    margin-top: 0.5rem;
}

#result .box2
{
    grid-area: box2;
  
}
#result .box3
{
    grid-area: box3;

}
#result .box4
{
    grid-area: box4;
  
} 

#result .box4 .cover ul li
{
    font-size: 30px;
}

/* /////////////////////////////result2/////////////////////////////// */

#result2
{
    flex-direction: column;
    width: 100%;
    background-color: var(--c4);
}
  
#result2 h2
{
    font-size: 40px;
    color: var(--c6);
    margin-top: 1rem;
}

#result2 .container
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    color: white;
    margin-top: 3rem;
    
}

#result2 .container .round
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: var(--c4);
    padding: 1.5rem;
    border-radius: 50%;
    border: 2px solid var(--c1);
    color: var(--c1);
    font-size: 20px;
    font-weight: 600;
    transition: .3s;
}

#result2 .container .round:hover
{
    background: var(--c1);
    box-shadow: 0 0 10px var(--c1);
    color: var(--c4);
}

/* //////////////////////Iframe////////////////////////////////// */

.iframe-container
{
    background: var(--c4);
    width: 100%;
    height: 100vh;
    display: none;
    margin-bottom: 1rem;
}

.iframe-container iframe
{
    background: var(--c4);
    width: 100%;
    height: 100%;
}



/* //////////////////////////Keyframes/////////////////////////////// */

@keyframes turn
{
    to{
        transform: rotate(360deg);
    }
}

@keyframes show
{
    100%
    {
        visibility: visible;
        opacity: 1;
    }
}


@keyframes show-bar
{
    100%
    {
        transform: translateY(0%);
    }
}